.NavbarMainContainer{
    background-color: #032541;
    width: 100%;
    height:100px;

}
.navrBarContainer{
    width: 90%;
    margin: auto;
   
    display: flex;
    height: 100%;
    align-items: center;
}
.NavbarLogo{

    width: 100px;
}